<nav class="navbar">
  <a [routerLink]="['']" class="navbar-brand" href="#">Employees</a>
  <div class="navbar-toggle" (click)="toggleNavbar()" [ngClass]="{'toggle-border': isNavbarOpen}">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <ul class="navbar-menu" [ngClass]="{ 'active': isNavbarOpen }">
    <li class="nav-item">
      <a [routerLink]="['auth']" class="nav-link active" aria-current="page" href="#">User</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['ckeck']" class="nav-link active" aria-current="page" href="#">Check</a>
    </li>
    <li>
      <button [routerLink]="['/add']" [ngStyle]="{background:'rgb(221, 159, 43)', border: 'none'}" pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"></button>
    </li>
  </ul>
</nav>