.navbar {
    background-color: #adb5bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: rgb(28, 57, 57);
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid rgb(28, 57, 57);
    padding: 6px;
    border-radius: 15%;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(28, 57, 57);
    margin: 3px 0;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: black;
}

.toggle-border {
    border: 3px solid rgb(28, 57, 57);
    padding: 4px;
}

nav > a {
    margin-left: 4px;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #adb5bd;
        text-align: center;
        z-index: 1;
    }

    .navbar-menu.active {
        display: flex;
        align-items: flex-start;
    }

    .navbar-toggle {
        display: flex;
    }

    li {
        margin: 5px;
    }
}