.modal-margin {
    border-radius: 5%;
    position:fixed;
    padding: 20px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-margin img {
    margin: 0 auto 20px auto;
}

.modal-margin button {
    margin: 0 auto 0 auto;
}

.in-out {
    text-align: center;
}
.modal-margin div:first-child {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}