.working-days {
    margin: 30px;
}

.td p-cellEditor{
    display: block;
}

.working-days div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.back {
    margin-top: 42.5px;
}