.auth {
    background: var(--surface-card);
    margin: auto;
    margin-top: 85px;
    width: 420px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6; 
}

.log {
    height: calc(100vh - 70px);
}

@media screen and (max-width: 440px) {
    .auth {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        font-size: medium;
    }
}