:host ::ng-deep .p-dialog .employee-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

button {
    margin-left: 15px;
}

.employees {
    position: relative;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 20px;
    margin-top: 85px;
}

.add {
    position: absolute;
    z-index: 1;
    right: 0;
}

.date {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(28, 57, 57);
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.modal-margin {
    border-radius: 5%;
    position:fixed;
    padding: 20px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.in-out {
    margin-left: 10px;
}