<app-pop-up></app-pop-up>
<div class="camera-page">
  <app-pop-up></app-pop-up>
  <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
  <div class="camera">
      <div>
          <video class="canvas" #videoElement width="345" height="260" autoplay></video>
          <canvas #canvasElement width="345" height="260" style="display: none;"></canvas>

          <div class="scanText" *ngIf="scannedText">
            <p *ngIf="!employee">{{ scannedText }}</p>
            <div *ngIf="employee">
              {{employee.id}}  
            </div>
          </div>
      </div>  
  </div>

  <div class="scan">
      <button pButton pRipple icon="pi pi-" class="p-button-rounded p-button-warning" (click)="scanText()">Scan</button>
      <button pButton pRipple icon="pi pi-" class="p-button-rounded p-button-warning" (click)="toggleCamera()">{{ cameraOn ? 'ON' : 'OFF' }}</button>
  </div>
</div>
