.camera {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.canvas {
    border: 1px solid black;
    border-radius: 5%;
}

.scan {
    display: flex;
    justify-content: center;
}

.scan button:first-child {
    margin-right: 150px;
}

.scanText {
    position: relative;
    top: 5px;
    text-align: center;
}

.clock {
	color: rgb(65, 74, 74);
	display: grid;
	place-items: center;
	font-size: 50px;
    margin-top: 85px;
}

.camera-page {
    height: calc(100vh - 173px);
}