<div>
  <app-pop-up></app-pop-up>
  <div class="camera">
      <div>
          <video class="canvas" #videoElement width="345" height="260" autoplay></video>
          <canvas #canvasElement width="345" height="260" style="display: none;"></canvas>
      </div>
  </div>

  <div class="scan">
      <button pButton pRipple icon="pi pi-" class="p-button-rounded p-button-warning" (click)="scanText()">Scan</button>
      <button pButton pRipple icon="pi pi-" class="p-button-rounded p-button-warning" (click)="toggleCamera()">{{ cameraOn ? 'ON' : 'OFF' }}</button>
  </div>

  <div *ngIf="scannedText">
    <h3>Prepoznati tekst:</h3>
    <p>{{ scannedText }}</p>
    <div>
      {{employee.fullName!}}
    </div>
  </div>
</div>
