.page {
    margin: 30px auto;
    border: 1px solid #e9ecef;
    padding: 30px;
    border-radius: 15px;
    width: 700px;
    background-color: #c0d1e2;
    font-size: large;
    font-weight: bolder;
    padding: 25px;
}

.page img {
    border-radius: 4px;
}

.page-toDo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    margin-top: 20px;
}

.back {
    margin: 15px;
    position: absolute;
}

.backEdit {
    display: flex;
    justify-content: space-between;
}