.page {
    margin: 30px auto;
    border: 1px solid #e9ecef;
    padding: 30px;
    border-radius: 15px;
    width: 700px;
    background-color: #c0d1e2;
    font-size: large;
    font-weight: bolder;
    padding: 25px;
    position: relative;
}

.page img {
    border-radius: 4px;
}

.page-toDo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    margin-top: 20px;
}

.back {
    margin: 15px;
    position: absolute;
}

.backEdit {
    display: flex;
    justify-content: space-between;
}

.modal-margin {
    border-radius: 5%;
    position:absolute;
    padding: 20px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirmDelete {
    display: flex;
    justify-content: flex-end;
}

.confirmDelete > button {
    margin-right: 10px;
}

@media screen and (max-width: 720px) {
    .page {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        font-size: medium;
    }

    .page-toDo {
        display: grid;
    }

    .back {
        margin: 15px;
        position: relative;
    }
}